.container{
  width: 910px;
  margin: 0 auto;
}

.prima_riga{
  margin-bottom: 20px;
}

.box{
  width: 250px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.ipad{
background-image: url("../img/pd1.jpg");
background-size:contain;
}

.iphone{
  background-image: url("../img/pd2.jpg");
  background-size:contain;
}

.beats{
  background-image: url("../img/pd3.jpg");
  background-size:contain;
}

.heart{
  position: absolute;
  font-size: 30px;
  color: red;
  bottom: 0;
  left: calc((100% - 30px) /2);
  display: none;
}

.box:hover .heart{
 display: block;
}

.discount{
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: 280px;
  left: 210px;
  text-align: center;
  display: inline-block;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}
